<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>CHAT APP </title>
    <style>
        .container {
            float: left;
            width: 960px;
            margin: 0 auto;
            height: 500px;
        }

        .newchat {

            background-color: rgb(226, 185, 131);
            border: 5px solid #2b6b00;
            border-radius: 5px;
            width: 40%;
            float: left;
            box-shadow: 20px 20px rgb(49, 83, 33);
            height: 460px;

            border: solid 1px orange
        }

        #sendmessage {
            flex-grow: 2;
            border: solid 1px orange
        }

        .right-column {
            background-color: rgb(226, 185, 131);
            border: 5px solid #2b6b00;
            border-radius: 5px;
            width: 40%;
            float: right;
            box-shadow: 20px 20px rgb(49, 83, 33);
            height: 460px;

            border: solid 1px orange
        }
    </style>
</head>

<body>

    <div>
        <h1 style="text-align: center"> USER CHATS </h1>

    </div>
    <div>
        <button id="logoutId" type="submit" class="btn btn-primary"
            style="position: fixed; bottom: 15px; right: 15px; ">LOG OUT</button><br><br>
        <!-- <a href="http://localhost:8000/password/forgotpassword" title="FORGOT PASSWORD"> FORGOT PASSWORD?</a> -->
    </div>
    <div class="newchat">
        <h1>CHATS</h1>
        <ul id="chat">


        </ul>

        <form id="sendmessage">

            <div class="mb-3">
                <label for="text" class="form-label">Message</label>
                <input type="text" class="form-control" id="text" value="" name="text" aria-describedby="emailHelp">

            </div>


            <button type="submit" class="btn btn-primary">Send</button>
        </form>

    </div>

    <div class="right-column">
        <h3> Group List</h3>
        <br>
        <a href="http://localhost:8000/newgroup" title="GO TO CREATE GROUP PAGE" style="padding-left: 40%; ">Create a
            new Group</a><br> <br>
        <div id="groupList"></div>

        <form id="join-group">
            <div id="group-update"></div>
            <div class="mb-3">
                <label for="text" class="form-label">Paste new group link</label>
                <input type="text" class="form-control" id="group_to_join" value="" name="text" aria-describedby="emailHelp">

            </div>


            <button type="submit" class="btn btn-primary">JOIN GROUP</button>
        </form>
    </div>

    <!-- <div class="container">
        <form id="sendmessage">

            <div class="mb-3">
                <label for="text" class="form-label">Message</label>
                <input type="text" class="form-control" id="text" value="" name="text" aria-describedby="emailHelp">

            </div>


            <button type="submit" class="btn btn-primary">Send</button>
        </form>

    </div> -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

<script>

    chat = document.getElementById('chat')
    logoutButton = document.getElementById('logoutId')
    message_form = document.getElementById('sendmessage')
    message = document.getElementById('text')
    join_group = document.getElementById('join-group')

    //show_active_users()

    async function show_active_users() {
        let active_users = await axios.get("http://localhost:8000/user/getchats")
        //console.log(active_users.data.activeusers)
        //show_on_screen(active_users.data.activeusers)
    }

    async function show_on_screen(res_msg, res_user) {

        try {
            document.getElementById("chat").innerHTML = ''
            console.log("res>>>>", res_msg, res_user)
            for (let i = 0; i < res_msg.length; i++) {
                let userName = ""
                const parent_node_expense1 = document.getElementById("chat")
                for (let j = 0; j < res_user.length; j++) {
                    if (res_msg[i].userId === res_user[j].id) {
                        userName = res_user[j].name
                        break
                    }
                    else {
                        continue
                    }
                }
                const childhtml = `<li id=${res_msg[i].id}> ${userName} -> ${res_msg[i].message} </li>`
                parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;
            }

        }
        catch (err) {
            console.log(err)
            console.log("UNABLE TO PRINT ON SCREEN")
        }
    }

    //logout.addEventListener("click", logout)


    logoutButton.onclick = logout
    async function logout(e) {
        try {
            const token = localStorage.getItem('token')
            console.log('dom token>>>>>>>>', token)
            console.log("inside logout function")
            let logout_user = await axios.get("http://localhost:8000/user/logout", { headers: { "Authorisation": token } })
            console.log(logout_user)
            if (logout_user.status == 200) {
                window.location.href = "http://localhost:8000/user/login"
            }
            else {
                throw new Error("FAILED TO LOGOUT")

            }
        }
        catch {
            console.log("UNABLE TO LOGOUT")
        }

    }

    message_form.addEventListener('submit', save_message)

    async function save_message(e) {
        try {
            e.preventDefault()
            const token = localStorage.getItem('token')
            console.log(message.value)
            messageobj = {
                newmessage: message.value
            }

            let save_message = await axios.post("http://localhost:8000/user/savechat", messageobj, { headers: { "Authorisation": token } })
            console.log("save_messages>>", save_message)
            message.value = ""
        }
        catch {
            console.log("UNABLE TO SAVE MESSAGE IN DATABASE")
        }
    }

    window.addEventListener("DOMContentLoaded", show_all_messages)

    let all_LS_messages_array = []
    let all_new_LS_messages_array = []
    let all_LS_users_array = []
    //setInterval(() =>show_all_messages(), 1000)
    let last_msg_id
    async function show_all_messages() {
        try {
            last_msg_id = localStorage.getItem('last_msg_id')
            const token = localStorage.getItem('token')

            let show_message_user = await axios.get(`http://localhost:8000/user/showchat/${last_msg_id}`, { headers: { "Authorisation": token } })
            //console.log(show_message_user.data)

            for (i = 0; i < show_message_user.data.all_messages.length; i++) {
                //console.log(show_message_user.data.all_messages[i])
                last_msg_id = show_message_user.data.all_messages[i].id
                all_new_LS_messages_array.push(show_message_user.data.all_messages[i])

            }

            //console.log("new array", all_new_LS_messages_array)

            let retString_messages = localStorage.getItem("messages")
            let retArray_messages = JSON.parse(retString_messages)
            if (retArray_messages) {
                //console.log("It exist")
                if (retArray_messages.length >= 10) {
                    console.log("h")
                    retArray_messages.shift()
                }
                all_LS_messages_array = retArray_messages.concat(all_new_LS_messages_array)
            }
            if (!retArray_messages) {
                //console.log("IT DOESN'T EXIST")
                all_LS_messages_array = all_new_LS_messages_array
            }
            //console.log("retarray", retArray_messages)

            //console.log("tillu>>", all_LS_messages_array[0])
            //console.log(last_msg_id)
            localStorage.setItem('last_msg_id', last_msg_id)

            for (i = 0; i < show_message_user.data.all_users.length; i++) {
                //console.log(show_message_user.data.all_messages[i])

                all_LS_users_array.push(show_message_user.data.all_users[i])

            }


            //console.log("all>>>", all_LS_users_array)

            myobj_stringified_messages = JSON.stringify(all_LS_messages_array)
            myobj_stringified_users = JSON.stringify(all_LS_users_array)

            localStorage.setItem('messages', myobj_stringified_messages)
            localStorage.setItem('users', myobj_stringified_users)
            let final_retString_messages = localStorage.getItem("messages")

            let retString_users = localStorage.getItem("users")

            let final_retArray_messages = JSON.parse(final_retString_messages)
            //console.log("final>>", final_retArray_messages)

            let retArray_users = JSON.parse(retString_users)

            show_on_screen(final_retArray_messages, retArray_users)
        }
        catch (err) {
            console.log(err)
            console.log("UNABLE TO LOAD ALL MESSAGES")
        }
    }

    window.addEventListener("DOMContentLoaded", show_all_groups)

    async function show_all_groups(e) {
        try {
            e.preventDefault()
            const token = localStorage.getItem('token')

            let show_all_groups = await axios.get(`http://localhost:8000/getallgroups`, { headers: { "Authorisation": token } })
            console.log(show_all_groups.data.AllgroupDetails)
            show_all_groups_on_screen(show_all_groups.data.AllgroupDetails)
        }
        catch (err) {
            console.log(err)
        }
    }

    async function show_all_groups_on_screen(res) {

        try {
            document.getElementById("groupList").innerHTML = ''
            console.log("allgroup>>>>", res)
            for (let i = 0; i < res.length; i++) {
                const parent_node_expense1 = document.getElementById("groupList")
                const childhtml = `<li id=${res[i].id}>  ${res[i].groupname} 
                    <button onclick=getgroupdetails('${res[i].id}')> Get Details </button>
                    </li>`
                parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;
            }

        }
        catch (err) {
            console.log(err)
            console.log("UNABLE TO PRINT ON SCREEN")
        }
    }

    async function getgroupdetails(e){
        try{
            console.log(e)
            localStorage.setItem('groupId',e)
            window.location.href = "http://localhost:8000/getagroupmessages"
        }
        catch(err){
            console.log(err)
        }
    }

    join_group.addEventListener('submit',newMember)

    async function newMember(e){
        try{
            e.preventDefault()
            group_to_be_joined= document.getElementById('group_to_join').value.split('/')[4]
            console.log(group_to_be_joined)
            const token = localStorage.getItem('token')
            console.log(token)
            let joined_group = await axios.get(`http://localhost:8000/joingroup/${group_to_be_joined}`, { headers: { "Authorisation": token } })
            console.log(joined_group.status)
            if (joined_group.status == 201) {
                console.log("JOINED GROUP")
                document.getElementById('group-update').innerHTML = document.getElementById('group-update').innerHTML + `<div style="color:green">CONGRATULATION! YOU ARE GROUP MEMBER NOW</div>`
            }
            else {
                throw new Error("FAILED TO LOGIN")

            }

        }
        catch (err){
            console.log(err)
            document.getElementById('group-update').innerHTML = document.getElementById('group-update').innerHTML + `<div style="color:red">YOU ARE ALREADY GROUP MEMBER</div>`
        }
    }

</script>

</html>