<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Group Chat App</title>

  <style>
    h1,
    h2,
    h3 {
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      font-weight: 1000;
      color: rgb(9, 99, 9);
      text-shadow: 5px 5px 10px rgb(88, 121, 88);
    }

    body {
      background-color: rgb(106, 196, 106);
    }

    .right-column {
      background-color: rgb(226, 185, 131);
      border: 5px solid #2b6b00;
      border-radius: 5px;
      width: 40%;
      float: right;
      box-shadow: 20px 20px rgb(49, 83, 33);
      height: 460px;
    }

    .chat-box {
      background-color: rgb(226, 185, 131);
      border: 5px solid #2b6b00;
      border-radius: 5px;
      width: 60%;
      float: left;
      box-shadow: 20px 20px rgb(49, 83, 33);
      height: 460px;
    }

    #filelist,
    #memberlist {
      overflow-y: scroll;
    }
  </style>
</head>

<body>
  <h1 style="padding-top: 2%;">Group Chat App</h1><br>
  <div class="container">
    <br>
    <div id="failure" style="text-align: center; color: rgb(167, 62, 13); font-weight: 700; font-size: 120%;"></div>
    <br>
    <div class="chat-box"> <br>

      <h2 id="group"></h2>
      <div id="info"></div>

      <a id="link" style="padding-left: 25%;"></a>
      <br> <br>

      <div class="row" style="padding-left: 16%; padding-right: 16%;">
        <button class="btn btn-secondary btn-sm" id="file-container">Click to see all Group Messages</button>
      </div>
      <br>

      <div id="filelist" style="padding-left: 4%; padding-right: 4%;"></div>
      <br>
      <br>
      <div id="memberlist" style="padding-left: 4%; padding-right: 4%;"></div>
      <br>
      <h1>CHATS</h1>
      <ul id="chat">


      </ul>
      <form id="sendmessage">

        <div class="mb-3">
          <label for="text" class="form-label">Message</label>
          <input type="text" class="form-control" id="text" value="" name="text" aria-describedby="emailHelp">

        </div>


        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>

    <div class="new-image">
      <form enctype="multipart/form-data" id="imageform">
          <input type="file" id="myfile" name="myfile">
          <button class="btn btn-primary btn-sm">Upload</button>
      </form>
  </div>

    <div class="right-column">
      <h3> Group Link</h3>
      <br>
      <div class="row" style="padding-left: 16%; padding-right: 16%;">
        <button class="btn btn-secondary btn-sm" id="group-link">Click to see group link</button>

        <div id="group-link-down" style="visibility:hidden ;">
          <h2> link of this group</h2>
          <div id="real-link"></div>
        </div>
      </div>

      <div class="row" style="padding-left: 16%; padding-right: 16%;">
        <button class="btn btn-secondary btn-sm" id="all-members">Click to see All group Members</button>

        <div id="all-members-down" style="visibility:hidden ;">
          <h2> All Members</h2>
          <div id="new-admin"></div>
          <div id="real-members"></div>

        </div>
      </div>
      <div class="row" style="padding-left: 16%; padding-right: 16%;">
        <button class="btn btn-secondary btn-sm" id="all-users">Click to see All Users</button>

        <div id="all-users-down" style="visibility:hidden ;">
          <h2> All Users</h2>
          <div id="new-user"></div>
          <div id="real-users"></div>

        </div>
      </div>
    </div>


  </div>

  <button class="btn btn-danger" onclick="signOut()" style="position: fixed; bottom: 15px; right: 15px;">Log
    Out</button>
  </div>
</body>
<!-- <script src="http://localhost:8000/socket.io/socket.io.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>.
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script>

  const socket = io('http://localhost:3000')

  all_messages = document.getElementById('file-container')
  message_form = document.getElementById('sendmessage')
  message = document.getElementById('text')
  group_link_button = document.getElementById("group-link")
  all_members_button = document.getElementById("all-members")
  all_users_button = document.getElementById("all-users")

  all_messages.addEventListener('click', load_group_messages)

  async function load_group_messages() {
    try {
      const token = localStorage.getItem('token')
      const groupId = localStorage.getItem('groupId')
      console.log("groupIIIIDDDD >>.>>> ", groupId)
      let get_group_message = await axios.get(`http://localhost:8000/getgroupchat/${groupId}`, { headers: { "Authorisation": token } },)
      console.log("get_group_messages>>", get_group_message.data.groupMessages, get_group_message.data.groupMembers)

      socket.emit('message', get_group_message.data.groupMessages, get_group_message.data.groupMembers)

      socket.on('print-message', (all_new_LS_messages_array, retArray_users) => {
        console.log("printing>>>", all_new_LS_messages_array, retArray_users)
        show_group_messages_screen(all_new_LS_messages_array, retArray_users)
      })


    }
    catch (err) {
      console.log(err)
    }
  }

  async function show_group_messages_screen(res_msg, res_user) {

    try {
      document.getElementById("chat").innerHTML = ''
      console.log("res>>>>", res_msg)
      for (let i = 0; i < res_msg.length; i++) {
        let userName = ""
        const parent_node_expense1 = document.getElementById("chat")
        for (let j = 0; j < res_user.length; j++) {
          if (res_msg[i].userId === res_user[j].id) {
            userName = res_user[j].name
            break
          }
          else {
            continue
          }
        }
        const childhtml = `<li id=${res_msg[i].id}> ${userName} -> ${res_msg[i].message} </li>`
        parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;
      }

    }
    catch (err) {
      console.log(err)
      console.log("UNABLE TO PRINT ON SCREEN")
    }
  }



  async function show_new_on_screen(res_msg, res_user) {

    try {
      //document.getElementById("chat").innerHTML = ''
      console.log("res>>>>", res_msg, res_user)

      const parent_node_expense1 = document.getElementById("chat")



      const childhtml = `<li id=${res_msg.id}> ${res_user} -> ${res_msg.message} </li>`
      parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;


    }
    catch (err) {
      console.log(err)
      console.log("UNABLE TO PRINT ON SCREEN")
    }
  }

  message_form.addEventListener('submit', save_message)

  async function save_message(e) {
    try {
      e.preventDefault()
      const token = localStorage.getItem('token')
      const groupId = localStorage.getItem('groupId')
      console.log(message.value)
      messageobj = {
        newmessage: message.value
      }

      let save_message = await axios.post(`http://localhost:8000/user/savegroupchat/${groupId}`, messageobj, { headers: { "Authorisation": token } },)
      console.log("save_messages>>", save_message.data.user_messages, save_message.data.user_name)

      socket.emit('new-message', save_message.data.user_messages, save_message.data.user_name)

      socket.on('print-new-message', (all_new_LS_messages_array, retArray_users) => {
        console.log("printing new msg>>>", all_new_LS_messages_array, retArray_users)
        show_new_on_screen(all_new_LS_messages_array, retArray_users)
      })

      message.value = ""
    }
    catch (err) {
      console.log(err)
      console.log("UNABLE TO SAVE MESSAGE IN DATABASE")
    }
  }

  group_link_button.addEventListener('click', getlink)


  async function getlink() {
    groupId = localStorage.getItem('groupId')
    document.getElementById("real-link").innerHTML = ''


    const parent_node_expense1 = document.getElementById("real-link")

    const childhtml = `<p id=${groupId}> http://localhost:8000/joingroup/${groupId} </p>`
    parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;

    document.getElementById('group-link-down').style.visibility = "visible"
    document.getElementById('group-link').style.visibility = "hidden"

  }

  all_members_button.addEventListener('click', getmembers)


  async function getmembers() {
    groupId = localStorage.getItem('groupId')
    const token = localStorage.getItem('token')

    let get_group_members = await axios.get(`http://localhost:8000/getgroupmembers/${groupId}`, { headers: { "Authorisation": token } },)

    console.log("group members", get_group_members.data)

    show_group_members_screen(get_group_members.data.groupMembers, get_group_members.data.isAdmin)
  }

  all_users_button.addEventListener('click', getusers)


  async function getusers() {
    groupId = localStorage.getItem('groupId')
    const token = localStorage.getItem('token')
    console.log("users", token)
    let get_all_users = await axios.get(`http://localhost:8000/getallusers/${groupId}`, { headers: { "Authorisation": token } },)

    console.log("all users", get_all_users.data)

    show_all_users_screen(get_all_users.data.users)
  }


  async function show_all_users_screen(res_user) {

    try {
      document.getElementById("real-users").innerHTML = ''
      console.log("res>>>>", res_user)
      for (let i = 0; i < res_user.length; i++) {


        const parent_node_expense1 = document.getElementById("real-users")

        const childhtml = `<li id=${res_user[i].id}>  ${res_user[i].name} 
  <button onclick=addUser('${res_user[i].id}')> ADD USER </button></li>`

        parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;


      }
      document.getElementById('all-users-down').style.visibility = "visible"
      document.getElementById('all-users').style.visibility = "hidden"

    }
    catch (err) {
      console.log(err)
      console.log("UNABLE TO PRINT ON SCREEN")
    }
  }


  async function show_group_members_screen(res_user, isAdmin) {

    try {
      document.getElementById("real-members").innerHTML = ''
      console.log("res>>>>", res_user)
      for (let i = 0; i < res_user.length; i++) {
        let userName = ""
        if (isAdmin) {
          const parent_node_expense1 = document.getElementById("real-members")

          const childhtml = `<li id=${res_user[i].id}>  ${res_user[i].name} 
      <button onclick=makeAdmin('${res_user[i].id}')> Make Admin </button>
      <button onclick=removeUser('${res_user[i].id}')> Remove User </button></li>`
          parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;
        }
        else {
          const parent_node_expense1 = document.getElementById("real-members")

          const childhtml = `<li id=${res_user[i].id}>  ${res_user[i].name} 
      </li>`
          parent_node_expense1.innerHTML = parent_node_expense1.innerHTML + childhtml;
        }

      }
      document.getElementById('all-members-down').style.visibility = "visible"
      document.getElementById('all-members').style.visibility = "hidden"

    }
    catch (err) {
      console.log(err)
      console.log("UNABLE TO PRINT ON SCREEN")
    }
  }

  async function makeAdmin(userId) {
    try {
      console.log("new admin>>", userId)
      groupId = localStorage.getItem('groupId')
      const token = localStorage.getItem('token')
      console.log("new admin>>", token)

      let change_admin = await axios.post(`http://localhost:8000/changeAdmin/${groupId}/${userId}`, { headers: { "Authorisation": token } })
      console.log(change_admin.data.admin_name)
      document.getElementById('new-admin').innerHTML = document.getElementById('new-admin').innerHTML + `<div style="color:green">CONGRATULATION! ${change_admin.data.admin_name} IS NOW ADMIN </div>`

    }
    catch (err) {
      console.log(err)
      console.log("not changed admin frntnd")
    }
  }

  async function removeUser(userId) {

    try {
      console.log("new admin>>", userId)
      groupId = localStorage.getItem('groupId')
      const token = localStorage.getItem('token')
      console.log("new admin>>", token)

      let remove_User = await axios.delete(`http://localhost:8000/removeUser/${groupId}/${userId}`, { headers: { "Authorisation": token } })
      console.log(remove_User)


    }
    catch (err) {
      console.log(err)
      console.log("not changed admin frntnd")
    }
  }

  async function addUser(userId) {

    try {
      console.log("userId")

      groupId = localStorage.getItem('groupId')
      const token = localStorage.getItem('token')
      //console.log("new user>>", token)

      let new_user = await axios.post(`http://localhost:8000/newMember/${groupId}/${userId}`, { headers: { "Authorisation": token } })
      console.log(new_user.data.usersexist)
      if (new_user.data.usersexist) {
        document.getElementById('new-user').innerHTML = document.getElementById('new-user').innerHTML + `<div style="color:red">ALREADY GROUP MEMBER! </div>`
      }
      else {
        document.getElementById('new-user').innerHTML = document.getElementById('new-user').innerHTML + `<div style="color:green">CONGRATULATION! NEW USER ADDED TO GROUP </div>`
      }
    }
    catch (err) {
      console.log(err)
    }
  }

  image_form = document.getElementById("imageform")
    image_form.addEventListener('submit', uploadImage)

    async function uploadImage(e) {

        try {
            e.preventDefault()

            const file = document.getElementById('myfile').files[0]
             //const file_target = e.target.files[0];
            console.log('files******>**', file);
            //console.log('file target', file_target);

            const formData = new FormData()
            formData.append('myfile', file)

            console.log('formData',formData.get('myfile'))

            console.log("inside frntnd imageform event")
            const token = localStorage.getItem('token')



            let save_image = await axios.post("http://localhost:8000/user/saveimage", formData, { headers: { "Authorisation": token,'Content-Type': 'multipart/form-data' } })
            console.log(save_image.data.fileURL)
           
            save_group_image_URL(save_image.data.fileURL) 
        }
        catch (err) {
            console.log(err)
        }
    }

    async function save_group_image_URL(url) {
    try {
      
      const token = localStorage.getItem('token')
      const groupId = localStorage.getItem('groupId')
      
      messageobj = {
        newmessage:url
      }

      let save_message = await axios.post(`http://localhost:8000/user/savegroupchat/${groupId}`, messageobj, { headers: { "Authorisation": token } },)
      console.log("save_messages>>", save_message.data.user_messages, save_message.data.user_name)

      socket.emit('new-message', save_message.data.user_messages, save_message.data.user_name)

      socket.on('print-new-message', (all_new_LS_messages_array, retArray_users) => {
        console.log("printing new msg>>>", all_new_LS_messages_array, retArray_users)
        show_new_on_screen(all_new_LS_messages_array, retArray_users)
      })

    }
    catch (err) {
      console.log(err)
      console.log("UNABLE TO SAVE MESSAGE IN DATABASE")
    }
  }


</script>

</html>